@import "vars";


// content
html, body { position: relative; }
head, script, link  { display: none; }
p { display: inline-block; }
span,em,strong { display: inline; }
em { font-style: italic; }
strong { font-weight: bold; }

main-nav {
  float:left;
}

body {
  background: $color-white;
  border: solid green;
  font-size: 16px;
  width: 100%;
}

h1, h2, h3 {
  color: $color-primary;
  padding-bottom: 2%;
}

h4, h5 {
  color: $color-darkgrey;
  padding-bottom: 2%;
}

p {
  color: $color-darkgrey;
  padding-bottom: 1%;
}

blockquote {
  border-left: $pad solid $color-lightgrey;
  padding-left: $pad;
}

.dropdown {
  padding: $pad;
  margin-bottom: 1%;
  color: $color-darkgrey;
  border: solid $color-lightgrey;
}

@for $i from 6 through 1 {
  h#{$i} {
    font-size: 9/($i + 2) * 1em;;
  }
}

// form
label {
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: $pad;

}

textarea, input {
  padding: $pad;
  border: 1px solid $color-lightgrey;
  margin-bottom: $pad;
  resize: none;
  overflow: hidden;

  &:focus {
    border: 1px solid $color-darkgrey;
  }

  &::placeholder {
    color: $color-grey;
  }
}

.number-box {
  border: solid pink;
}

.radio-button {
  text-decoration: none;
}

button,input[type="submit"] {
  background: $color-primary;
  color: $color-white;
  padding: $pad;
  width: 30%;
  transition-delay: 1s;
  border: none;

  &:hover {
    background: $color-secondary;
  }

  &:active {
    background: $color-primary;
  }
}

// lists
ul,ol,li { margin-left: $pad * 2; }
li { display: list-item; }
ol li { list-style: decimal; }

.hide { display: none; }
