

.meal-card {
  height: 20em;
  width: 15%;
  min-width: 10em;
  background: white;
  display: inline-block;
  margin: 1.5%;
  border-radius: 1%;
  overflow-y: auto;
  border: solid 3px #F3F3F3;
  border-radius: 3px;
}

.meal-image{
  // max-width: 90%;
  height: 8em;
  width: 95%;
  margin: 0 auto;
  padding-top: 1%;
}

.meal-text{
  padding-left: 1em;

}

.meal-price{
  display: inline-block;
  width: auto;
  color: #cf3d27;
  font-weight: bold;
}

.meal-title{
  display: inline-block;
  width: auto;
  padding-left: .5em;
  font-weight: bold;
}

.meal-date{
  color: darkgrey;
}

.to-from-dates{
  font-size: .8em;
}

.order-button{
  float: left;
  background: #4ed330;
  width: 50%;
  padding: 3px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  margin-bottom: .5em;
  border-radius: 3px;
}
