.user-nav {
  float: left;
  background-color: $color-primary;
  color: $color-white;
  width: 100%;
  margin-top: 0px;
  margin: none;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $color-secondary;
  }
  li  {
    float: left;
    width: 10%;
    display: inline-block;;
  }
  li a {
    padding: 14px;
  }
}

img {
  width: 10em;
}

.cook-nav {
  border: solid yellow;
  color: $color-white;
}
